@model List<Offer>

@{
    ViewData["Title"] = "Index";
}
<style>
    .action-buttons {
        text-align: right;
    }
</style>
<h1>Ponude</h1>

<div>
    <a asp-action="Create" class="btn btn-success">Kreiraj novu ponudu</a>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
               Zaposlenik
            </th>
            <th>
                Klijent
            </th>
            <th>
                Vozilo
            </th>
            <th>
                Ukupna cijena
            </th>
            <th>
Status ponude
</th>
            <th> </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            if (@item.IsActive == true && item.IsDeleted == false)
            {
                <tr>
                    <td>
                        @item.AppUser?.UserName
                    </td>
                    <td>
                        @item.Clients?.FullName 
                    </td>
                    <td>
                        @item.UserVehicles?.KilometersTraveled
                    </td>
                <td>
                    @item.TotalPrice
                </td>
                <td>
                    @item.OfferStatuses?.OfferStatusName
                  
                </td>
                    <td class="action-buttons d-flex flex-row">

                        <a asp-action="Edit" asp-route-id="@item.ID" class="btn btn-info ml-1">Uredi</a>
                        <a asp-action="Details" asp-route-id="@item.ID" class="btn btn-primary ml-1">Detalji narudžbe</a>
                        <form asp-action="Delete" method="post" onsubmit="return confirm('Jeste li sigurni da želite obrisati ponudu?');">
                            <input type="hidden" name="id" value="@item.ID" />
                            <button type="submit" class="btn btn-danger ml-1">Izbriši</button>
                        </form>
                    </td>
                </tr>          
                }
        }
    </tbody>
</table>
@if (!ViewData.ModelState.IsValid)
{
    <div class="alert alert-danger" role="alert">
        @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
        {
            <p strong>@error.ErrorMessage</p>
        }
    </div>
}

